-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: dol_management
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_works`
--

DROP TABLE IF EXISTS `academic_works`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_works` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seq_no` varchar(50) DEFAULT NULL COMMENT 'เธ—เธตเน',
  `received_date` date NOT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเธฃเธฑเธเน€เธฃเธทเนเธญเธ',
  `subject` varchar(255) NOT NULL COMMENT 'เน€เธฃเธทเนเธญเธ',
  `related_person` varchar(255) DEFAULT NULL COMMENT 'เธเธนเนเธ—เธตเนเน€เธเธตเนเธขเธงเธเนเธญเธ (เธเธนเนเธเธฃเธ“เธต)',
  `summary` text DEFAULT NULL COMMENT 'เธเธงเธฒเธกเธชเธณเธเธฑเธเธเธญเธเน€เธฃเธทเนเธญเธ (เนเธ”เธขเธชเธฃเธธเธ)',
  `status_cause` varchar(255) DEFAULT NULL COMMENT 'เธชเธฒเน€เธซเธ•เธธเธ—เธตเนเธเนเธฒเธ',
  `completion_date` date DEFAULT NULL,
  `responsible_person` varchar(100) DEFAULT NULL COMMENT 'เธเธนเนเธฃเธฑเธเธเธดเธ”เธเธญเธ',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `progress_type` tinyint(4) DEFAULT 4 COMMENT '1=เธเธเธ•เธด, 2=เธชเธธเธ”เธเธฑเนเธเธ•เธญเธ, 3=เธจเธฒเธฅ, 4=เธเธฒเธเธเนเธฒเธ',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1072 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_works`
--

LOCK TABLES `academic_works` WRITE;
/*!40000 ALTER TABLE `academic_works` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_works` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_name` varchar(255) NOT NULL,
  `action` varchar(50) NOT NULL,
  `department` varchar(50) NOT NULL,
  `item_id` varchar(50) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_at` (`created_at`),
  KEY `user_name` (`user_name`),
  KEY `action` (`action`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
INSERT INTO `activity_logs` VALUES (1,'เธเธนเนเธ”เธนเนเธฅเธฃเธฐเธเธ','UPDATE','survey','1221','เธญเธฑเธเน€เธ”เธ•เธชเธ–เธฒเธเธฐเธเธฒเธเธฃเธฑเธเธงเธฑเธ” (ID: 1221) เน€เธเนเธ: ','2026-01-28 06:51:37'),(2,'เธเธนเนเธ”เธนเนเธฅเธฃเธฐเธเธ','UPDATE','survey','1220','เธญเธฑเธเน€เธ”เธ•เธชเธ–เธฒเธเธฐเธเธฒเธเธฃเธฑเธเธงเธฑเธ” (ID: 1220) เน€เธเนเธ: ','2026-01-28 06:51:46');
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monthly_kpi_reports`
--

DROP TABLE IF EXISTS `monthly_kpi_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monthly_kpi_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `years_month` varchar(7) NOT NULL,
  `department` varchar(50) NOT NULL,
  `old_work_baseline` int(11) DEFAULT 0,
  `new_work_received` int(11) DEFAULT 0,
  `new_work_completed` int(11) DEFAULT 0,
  `completed_within_30` int(11) DEFAULT 0,
  `completed_within_60` int(11) DEFAULT 0,
  `completed_over_60` int(11) DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_month_dept` (`years_month`,`department`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monthly_kpi_reports`
--

LOCK TABLES `monthly_kpi_reports` WRITE;
/*!40000 ALTER TABLE `monthly_kpi_reports` DISABLE KEYS */;
INSERT INTO `monthly_kpi_reports` VALUES (25,'2026-01','registration',0,0,1560,1560,0,0,NULL,'2026-01-23 07:03:58','2026-01-28 02:36:30','เธเนเธฒเธขเธ—เธฐเน€เธเธตเธขเธ'),(26,'2026-01','survey',0,0,77,77,0,0,NULL,'2026-01-23 07:25:26','2026-01-23 07:56:26','เธเธนเนเธ”เธนเนเธฅเธฃเธฐเธเธ');
/*!40000 ALTER TABLE `monthly_kpi_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_works`
--

DROP TABLE IF EXISTS `registration_works`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registration_works` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seq_no` varchar(50) DEFAULT NULL COMMENT 'เธฅเธณเธ”เธฑเธเธ—เธตเน',
  `received_date` date NOT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเธฃเธฑเธเธเธณเธเธญ',
  `subject` varchar(255) NOT NULL COMMENT 'เน€เธฃเธทเนเธญเธ',
  `related_person` varchar(255) DEFAULT NULL COMMENT 'เธเธนเนเธ—เธตเนเน€เธเธตเนเธขเธงเธเนเธญเธ (เธเธนเนเธเธฃเธ“เธต)',
  `summary` text DEFAULT NULL COMMENT 'เธเธงเธฒเธกเธชเธณเธเธฑเธเธเธญเธเน€เธฃเธทเนเธญเธ (เนเธ”เธขเธชเธฃเธธเธ)',
  `status_cause` varchar(255) DEFAULT NULL COMMENT 'เธชเธฒเน€เธซเธ•เธธเธ—เธตเนเธเนเธฒเธ',
  `completion_date` date DEFAULT NULL,
  `responsible_person` varchar(100) DEFAULT NULL COMMENT 'เธเธนเนเธฃเธฑเธเธเธดเธ”เธเธญเธ',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `progress_type` tinyint(4) DEFAULT 4 COMMENT '1=เธเธเธ•เธด, 2=เธชเธธเธ”เธเธฑเนเธเธ•เธญเธ, 3=เธจเธฒเธฅ, 4=เธเธฒเธเธเนเธฒเธ',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1279 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_works`
--

LOCK TABLES `registration_works` WRITE;
/*!40000 ALTER TABLE `registration_works` DISABLE KEYS */;
/*!40000 ALTER TABLE `registration_works` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sameday_completion_logs`
--

DROP TABLE IF EXISTS `sameday_completion_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sameday_completion_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `record_date` date NOT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเธเธฑเธเธ—เธถเธ',
  `department` varchar(50) NOT NULL COMMENT 'เธเนเธฒเธข (survey/registration/academic)',
  `count` int(11) NOT NULL DEFAULT 0 COMMENT 'เธเธณเธเธงเธเธเธฒเธเธ—เธตเนเน€เธเธดเธ”เน€เธชเธฃเนเธเธงเธฑเธเน€เธ”เธตเธขเธง',
  `notes` text DEFAULT NULL COMMENT 'เธซเธกเธฒเธขเน€เธซเธ•เธธ',
  `created_by` varchar(100) DEFAULT NULL COMMENT 'เธเธนเนเธเธฑเธเธ—เธถเธ',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='เธ•เธฒเธฃเธฒเธเธเธฑเธเธ—เธถเธเธเธฒเธเน€เธเธดเธ”เน€เธชเธฃเนเธเธงเธฑเธเน€เธ”เธตเธขเธง';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sameday_completion_logs`
--

LOCK TABLES `sameday_completion_logs` WRITE;
/*!40000 ALTER TABLE `sameday_completion_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `sameday_completion_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_history`
--

DROP TABLE IF EXISTS `status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `status_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `work_type` enum('survey','registration','academic') NOT NULL COMMENT 'เธเธฃเธฐเน€เธ เธ—เธเธฒเธ',
  `work_id` int(11) NOT NULL COMMENT 'ID เธเธญเธเธเธฒเธเธ—เธตเนเธญเนเธฒเธเธญเธดเธ',
  `action_type` varchar(100) NOT NULL COMMENT 'เธเธฃเธฐเน€เธ เธ—เธเธฒเธฃเธ”เธณเน€เธเธดเธเธเธฒเธฃ',
  `old_value` text DEFAULT NULL COMMENT 'เธเนเธฒเน€เธ”เธดเธก',
  `new_value` text DEFAULT NULL COMMENT 'เธเนเธฒเนเธซเธกเน',
  `note` text DEFAULT NULL COMMENT 'เธซเธกเธฒเธขเน€เธซเธ•เธธ/เธฃเธฒเธขเธฅเธฐเน€เธญเธตเธขเธ”',
  `changed_by` varchar(100) DEFAULT NULL COMMENT 'เธเธนเนเธ”เธณเน€เธเธดเธเธเธฒเธฃ',
  `changed_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'เธงเธฑเธเธ—เธตเนเธ”เธณเน€เธเธดเธเธเธฒเธฃ',
  PRIMARY KEY (`id`),
  KEY `idx_work` (`work_type`,`work_id`),
  KEY `idx_date` (`changed_at`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='เธเธฃเธฐเธงเธฑเธ•เธดเธเธฒเธฃเธญเธฑเธเน€เธ”เธ•เธชเธ–เธฒเธเธฐเธเธฒเธ';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_history`
--

LOCK TABLES `status_history` WRITE;
/*!40000 ALTER TABLE `status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_works`
--

DROP TABLE IF EXISTS `survey_works`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `survey_works` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `received_seq` varchar(50) DEFAULT NULL COMMENT 'เธฅเธณเธ”เธฑเธเธ—เธตเนเธฃเธฑเธเน€เธฃเธทเนเธญเธ',
  `received_date` date DEFAULT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเธฃเธฑเธเน€เธฃเธทเนเธญเธ',
  `survey_type` varchar(100) DEFAULT NULL COMMENT 'เธเธฃเธฐเน€เธ เธ—เธเธฒเธฃเธฃเธฑเธเธงเธฑเธ”',
  `applicant` varchar(255) DEFAULT NULL COMMENT 'เธเธนเนเธเธญเธฃเธฑเธเธงเธฑเธ”',
  `summary` text DEFAULT NULL COMMENT 'เธเธงเธฒเธกเธชเธณเธเธฑเธเธเธญเธเน€เธฃเธทเนเธญเธ (เนเธ”เธขเธชเธฃเธธเธ)',
  `status_cause` varchar(255) DEFAULT NULL COMMENT 'เธชเธฒเน€เธซเธ•เธธเธ—เธตเนเธเนเธฒเธ',
  `men` varchar(255) NOT NULL,
  `rv_12` varchar(255) DEFAULT NULL,
  `completion_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `progress_type` tinyint(4) DEFAULT 4 COMMENT '1=เธเธเธ•เธด, 2=เธชเธธเธ”เธเธฑเนเธเธ•เธญเธ, 3=เธจเธฒเธฅ, 4=เธเธฒเธเธเนเธฒเธ',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1673 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_works`
--

LOCK TABLES `survey_works` WRITE;
/*!40000 ALTER TABLE `survey_works` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_works` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_works_status_log`
--

DROP TABLE IF EXISTS `survey_works_status_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `survey_works_status_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `received_date` date DEFAULT NULL,
  `applicant` text DEFAULT NULL,
  `old_status` varchar(255) DEFAULT NULL,
  `new_status` varchar(255) DEFAULT NULL,
  `completion_date` date DEFAULT NULL,
  `logged_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=115 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_works_status_log`
--

LOCK TABLES `survey_works_status_log` WRITE;
/*!40000 ALTER TABLE `survey_works_status_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_works_status_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `svdata_tmp`
--

DROP TABLE IF EXISTS `svdata_tmp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `svdata_tmp` (
  `received_date` varchar(20) DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `status_cause` varchar(255) DEFAULT NULL,
  `completion_date` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `svdata_tmp`
--

LOCK TABLES `svdata_tmp` WRITE;
/*!40000 ALTER TABLE `svdata_tmp` DISABLE KEYS */;
/*!40000 ALTER TABLE `svdata_tmp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visit_counter`
--

DROP TABLE IF EXISTS `visit_counter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visit_counter` (
  `id` int(11) NOT NULL DEFAULT 1,
  `count` int(11) NOT NULL DEFAULT 800,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visit_counter`
--

LOCK TABLES `visit_counter` WRITE;
/*!40000 ALTER TABLE `visit_counter` DISABLE KEYS */;
INSERT INTO `visit_counter` VALUES (1,828,'2026-01-24 07:13:33');
/*!40000 ALTER TABLE `visit_counter` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-28 13:57:10
